body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 450px;
  background: #f8f8f8;
  padding: 10px;
  border-right: 1px solid #ddd;
  height: 100vh;
  overflow-y: auto;
}

.polygon__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.btn__danger {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.ml__1 {
  margin-left: 4px;
}