:root {
  --primary-color: #ff0000;
  --secondary-color: #332d2d;
  --success-color: #1106aa;
  --border-color: #ddd;
  --text-color: #000;
  --disabled-color: #857e7e;
  --white-color: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.container {
  display: flex;
}

.sidebar {
  width: 33%;
  background: var(--secondary-color);
  padding: 10px;
  border-right: 1px solid var(--border-color);
  height: 100vh;
  overflow-y: auto;
}

// Search Input
.search__input {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
}

// Polygon List
.polygon__list {
  margin-top: 10px;
}

// Polygon Item
.polygon__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
}

// Buttons
.btn__primary {
  background: var(--success-color);
  color: var(--white-color);
  border: none;
  padding: 5px 4px;
  cursor: pointer;
}

.btn__secondary {
  background: var(--secondary-color);
  color: var(--white-color);
  border: none;
  padding: 5px 4px;
  cursor: pointer;
}

.btn__danger {
  background: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn__success {
  background: var(--success-color);
  color: var(--white-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn__disabled {
  background: var(--disabled-color);
  border: none;
  padding: 2px 4px;
}

// Utility Classes
.my__3 {
  margin: 12px 0;
}

.ml__1 {
  margin-left: 4px;
}

.mt__1 {
  margin-top: 4px;
}

.mt__2 {
  margin-top: 8px;
}

.mr__5 {
  margin-right: 20px;
}

.w__full {
  width: 100%;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex__col {
  flex-direction: column;
}

.justify__center {
  justify-content: center;
}

.justify__between {
  justify-content: space-between;
}

.items__center {
  align-items: center;
}

.align__self {
  align-self: flex-end;
}

.gap__x_1 {
  gap: 0 4px;
}

.gap__x_2 {
  gap: 0 8px;
}

.gap__x__5 {
  gap: 0 20px
}

.h__8 {
  height: 32px;
}

.w__20 {
  width: 80px;
}

.font__semibold {
  font-weight: 700;
}

.text__xl {
  font-size: 24px;
}

.text__white {
  color: var(--white-color);
}

.cursor__not__allowed {
  cursor: not-allowed;
}

.cursor__pointer {
  cursor: pointer;
}


/* xs (Phone) */
.visible__xs__hidden__lg {
  display: block;
}

.hidden__xs__visible__lg {
  display: none;
}

@media (min-width: 768px) {
  .visible__xs__hidden__lg {
    display: none;
  }

  .hidden__xs__visible__lg{
    display: block;
  }
}